<%= form_with model: @category do |form| %>
  <ul class="errors-list">
    <% @category&.errors.full_messages.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.submit %>

<% end %>
