<h1>Sign Up</h1>

<%# To render the errors, make sure you have `local: true` as an option %>
<%= form_with model: @user, local: true do |f| %>

  <% if @user.errors.any? %>
    <p>There were errors:</p>
    <p><%= @user.errors.full_messages.join(" | ") %></p>
  <% end %>

  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>

  <%= f.label :email %>
  <%= f.email_field :email %>
  <br>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>

  <%= f.submit "Sign Up" %>

<% end %>
