<h1>Sign Up For Scary Movies</h1>

<%= render "layouts/errors", errors: @user.errors.full_messages %>

<%= form_with model: @user, url: signup_path do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit %>

<% end %>

<%= link_to "or...Login", login_path %>
