<nav>
  <%= link_to "Boardgames", boardgames_path %>
  <%= link_to "Add Boardgame", new_boardgame_path %>
  <%= link_to "Add Category", new_category_path %>
</nav>

<h1>Edit A Boardgame</h1>

<%= form_with model: @boardgame do |form| %>
  <ul class="errors-list">
    <% @boardgame&.errors.full_messages.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :playtime %>
  <%= form.number_field :playtime %>

  <%= form.label :minimum_age %>
  <%= form.number_field :minimum_age %>

  <%= form.label :min_players %>
  <%= form.number_field :min_players %>

  <%= form.label :max_players %>
  <%= form.number_field :max_players %>

  <%= form.submit %>

<% end %>
