<nav>
  <%= link_to "Boardgames", boardgames_path %>
  <%= link_to "Add Boardgame", new_boardgame_path %>
  <%= link_to "Add Category", new_category_path %>
</nav>

<span>
  <%= flash[:message] %>
</span>

<h1>All Boardgames</h1>

<ul class="boardgame-list">
  <% @boardgames.each do |bg| %>

    <li><%= link_to bg.name, boardgame_path(bg) %></li>

  <% end %>
</ul>
