<h1>Login</h1>

<%= render "layouts/errors", errors: @user.errors.full_messages %>

<%= form_with model: @user, url: login_path do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit %>

<% end %>

<%= link_to "or...Signup", signup_path %>
