<h1>Write A New Review</h1>

<%= form_with url: '/reviews' do |form| %>

  <%= fields_for @review %>
    <%= f.label :content %>
    <%= f.text_field :content %>

  <% end %>

  <%= fields_for @boardgame %>

    <%= f.label :name %>
    <%= f.text_field :name %>

  <% end %>


  <%= f.submit %>

<% end %>
