<!DOCTYPE html>
<html>
  <head>
    <title>BonusActivestorage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <%= link_to "All Artists", artists_path %>
      <%= link_to "New Artist", new_artist_path %>
    </nav>

    <%= yield %>
  </body>
</html>
