<!DOCTYPE html>
<html>
  <head>
    <title>Category</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'category', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="category-body">

    <h1>Wow Boardgame Categories</h1>

    <%= yield %>
  </body>
</html>
