<!DOCTYPE html>
<html>
  <head>
    <title>ScaryMovies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>

    <div>
      <% flash[:messages]&.each do |message| %>
        <p class="flash-error"><%= message %></p>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
