<!DOCTYPE html>
<html>
  <head>
    <title>Boardgamer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'boardgame_styles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="flash-message">
      <p><%= flash[:message] %></p>
    </div>

    <nav>
      <%= link_to "Boardgames", boardgames_path %>
      <%= link_to "Add Boardgame", new_boardgame_path %>
      <%= link_to "Add Category", new_category_path %>
      <% if current_user %>
        <%= link_to "Logout", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Login", login_path %>
        <%= link_to "Sign Up", new_user_path %>
        <%= link_to "Sign Up With Google", '/auth/google_oauth2' %>
      <% end%>
    </nav>

    <%= yield %>
  </body>
</html>
